@import 'themes';

/* move animation */

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

/* body */

body {
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

/* Login */

.login-container {

  display: flex;
  height: 100vh;

  .logo {

    width: 70px;
    padding-bottom: 30px;
  }

  .animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  .a1 {
    animation-delay: 2s;
  }

  .a2 {
    animation-delay: 2.1s;
  }

  .a3 {
    animation-delay: 2.2s;
  }

  .a4 {
    animation-delay: 2.3s;
  }

  .a5 {
    animation-delay: 2.4s;
  }

  .a6 {
    animation-delay: 2.5s;
  }

  .invalid-feedback {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }

  
  .bottom-signature {
    font-size:8px;
    position: fixed;
    bottom: 15px;
  }

  
    @include themify($themes) {

      background-color: themed('secondary');
      color: themed('primary');

      .left {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        animation-name: left;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: 1s;
        border-right: 1px solid #cccccc;
        align-items: center;
      }
      
      .right {
        flex: 1;
        background-color: themed('primary');
        transition: 1s;
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
      }

      .header {
        text-align: center;
      }
    
      .header > h2 {
        margin: 0;
        color: themed('primary');
      }
    
      .header > h4 {
        font-weight: normal;
        font-size: 18px;
        color: themed('primary');
        margin-bottom: 15px;
      }
    
      .form {
        max-width: 80%;
        display: flex;
        flex-direction: column;
      }
    
      .form > p {
        text-align: right;
      }
    
      .form > p > a {
        color: #000;
        font-size: 18px;
      }
    
      .form-field {
        height: 40px;
        padding: 0 18px;
        outline: 0;
        transition: .2s;
        margin-top: 15px;
        margin-bottom: 5px;
        border-radius: 8px;
        font-size: 18px;
        color:black;
      }
    
      .form-field:focus {
        border-color: themed('primary');
        box-shadow: 0px 0px 20px 0px themed('primary');
      }
    
      .form > .login-button {
        padding: 12px 10px;
        border: none;
        background: linear-gradient(to right, themed('buttons') 0%, darken(themed('secondary'), 0%) 100%); 
        margin-top: 25px;
        color: themed('secondary');
        font-size:18px;
        letter-spacing: 2px;
        transition: 0.2s;
        border-radius: 8px;;
      }

      .login-button:hover {

        box-shadow: 0px 0px 20px 0px themed('primary');
      }

      .copyright {
        font-size: 8px;
        color: themed('primary');
        text-align: center;
        margin-top:5px;
      }

      .copyright > a {
        color: themed('primary');
        text-decoration: none;
        &:hover {
          color:themed('complementary');
        }
      }
  }
}

/* Menu */

.menu-container {

  .menu-nav {
    overflow: hidden;
  }

  .menu-nav .icon {
    display: none;
  }
    
  @include themify($themes) {
    
    .menu-nav {
      background-color: themed('secondary');
      border-bottom: 1px solid #cccccc;
    }

    .menu-nav a {
      float: left;
      color: themed('primary');
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border-right: 1px solid #cccccc;
    }

    .menu-logout {
      float: right !important;
    }

    .menu-nav a:hover {
      background-color: themed('primary');
      color: themed('secondary');
    }
  
    .menu-nav a.active {
      background-color: themed('buttons');
      color: themed('secondary');
    }
  }

  @media screen and (max-width: 600px) {
    .menu-nav a:not(:first-child) {display: none;}
    .menu-nav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .menu-nav.responsive {position: relative;}
    .menu-nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .menu-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

/* Dashboard */

.app-container {

  padding:20px;
  padding-top: 0px;
  overflow: hidden;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
}

.dashboard-component {
  padding: 10px;
  box-shadow: 0px 0px 10px #cccccc;
  margin:5px;
}

.inline-dashboard-data {
  display: inline-block;
}

#total-calls-plivo-cloud {}

#total-size-recordings {}

#recordings-component {
  margin-top: 15px;
  overflow-x: auto;
}

.recordings-list {
  padding:10px;
  white-space: nowrap;
  table-layout: fixed;
}

.recording-element {
  margin:5px;
  display:table-cell;
  padding:5px;
}

.call-count {
  text-align: right;
}

#sync-recordings {
  transition: opacity 1s;
  display: inline-block;
  position: fixed;
  bottom:0;
  right:0;
  margin-bottom:20px;
  margin-right:20px;
  color:white;
  padding:20px;
  @include themify($themes) {
    background: themed('buttons');
  }
  box-shadow: 0 0 10px #ccc;
}

#sync-recordings.fade {
  opacity: 0;
}

.table-recordings-cell {
  height:25px;
  margin-right:20px;
  overflow: hidden;
  vertical-align: middle;
  line-height:25px;
}

.col-title {
  font-weight: bold;
  text-align: center;
}

.col-call-number {
  text-align: center;
  width: 30px;
}

.col-call-uuid {
  padding-left:10px;
  width: 375px;
}

.col-call-time {
  padding-left:10px;
  width: 190px;
  text-align: center;
}

.col-call-duration {
  padding-left:10px;
  width: 110px;
  text-align: center;
}

.col-call-from {
  padding-left:10px;
  width: 160px;
  text-align: center;
}

.col-call-to {
  padding-left:10px;
  width: 160px;
  text-align: center;
}

.col-call-play {
  padding-left:10px;
  width: 50px;
  text-align: center;
}

.row-hover {
  @include themify($themes) {
    color: themed('primary');
    background-color: themed('secondary');
  }
}

.row-hover:hover {
  cursor: pointer;
  @include themify($themes) {
    color: themed('secondary');
    background-color: themed('primary');
  }
}

.play_button {
  transition: 0.1s;
  transition-timing-function: linear;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
  float: left;
  color:black;
  box-sizing: border-box;
  border-width: 10px 0px 10px 20px;
  @include themify($themes) {
    border-color: transparent transparent transparent themed('buttons');
  }

  &.paused {

    border-style: double;
    border-width: 0px 0px 0px 18px;
  }
}

/* audio player */

#audio-player-container {

  display: none;

  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 40px;
  background: black;
  box-shadow: 0 0 10px #ccc;
  color: white;

  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-left: 20px;
  margin-bottom: 20px;

  transition: opacity 2s;

  #play-icon {
      margin: 10px;
  }
  
  .time {
      display: inline-block;
      text-align: center;
      font-size: 14px;
      margin: 12px 0 12px 0;
      float: left;
  }

  input[type="range"] {
      position: relative;
      -webkit-appearance: none;
      width: 55%;
      margin: 0;
      padding: 0;
      height: 19px;
      margin: 11px 2.5% 10px 2.5%;
      float: left;
      outline: none;
      background: black;
  }

  @include themify($themes) {

    button {
      transition: 0.1s;
      transition-timing-function: linear;
      padding: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
      width: 20px;
      height: 20px;
      float: left;
      box-sizing: border-box;
      border-width: 10px 0px 10px 20px;
      border-color: transparent transparent transparent themed('buttons');

      &.paused {

        border-style: double;
        border-width: 0px 0px 0px 18px;
      }
    }

    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: linear-gradient(to right, themed('buttons') var(--buffered-width), transparentize(themed('buttons'), 0.5) var(--buffered-width));
    }
    input[type="range"]::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: var(--seek-before-width);
        height: 3px;
        background-color: themed('third');
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        box-sizing: content-box;
        border: 1px solid themed('buttons');
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        margin: -7px 0 0 0;
    }
    input[type="range"]:active::-webkit-slider-thumb {
        transform: scale(1.2);
        background: themed('buttons');
    }
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: linear-gradient(to right, themed('buttons') var(--buffered-width), transparentize(themed('buttons'), 0.5) var(--buffered-width));
    }
    input[type="range"]::-moz-range-progress {
        background-color: themed('primary');
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]::-moz-range-thumb {
        box-sizing: content-box;
        border: 1px solid themed('buttons');
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    input[type="range"]:active::-moz-range-thumb {
        transform: scale(1.2);
        background: themed('buttons');
    }
    input[type="range"]::-ms-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: transparent;
        border: solid transparent;
        color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        background-color: themed('buttons');
    }
    input[type="range"]::-ms-fill-upper {
        background: linear-gradient(to right, themed('buttons') var(--buffered-width), transparentize(themed('buttons'), 0.5) var(--buffered-width));
    }
    input[type="range"]::-ms-thumb {
        box-sizing: content-box;
        border: 1px solid themed('buttons');
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    input[type="range"]:active::-ms-thumb {
        transform: scale(1.2);
        background: themed('buttons');
    }
  }
}