@import 'skitsc-theme';

html {
  height: 100%;
}

body {
  background: url("../img/bg.jpg");
  min-height: 100%;
}

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {

      .container {

      }

      .login_container {
        margin: 0 auto;
        width:50%;
        border:1px solid rgb(0, 0, 0);
        padding:10px;
        text-align: center;
      }

      .button {
          border: 0;
          border-radius: 10px;
          bottom: 10px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: bold;
          padding: 1em 2em;
          position: absolute;
          right: 10px;
      }

      @each $section, $map in $theme-map {
          @if ($section == body) {
            body {
              background: map-get($map, bg);
            }
          } @else if ($section == container) {
              .container {
                  background-color: map-get($map, bg);
                  border: 1px solid map-get($map, border-color);
                  display: flex;
                  height: 500px;
                  justify-content: space-between;
                  margin: 0 auto;
                  padding: 1em;
                  width: 50%;
              }
          } @else {
              .#{$section} {
                  background-color: map-get($map, bg);
                  color: map-get($map, color);

                  @if ($section != button) {
                      height: map-get($map, height);
                      width: map-get($map, width);
                  } @else {
                    &:hover {
                        background-color: lighten(map-get($map, bg), 20%);
                  }
                }
              }
          }
      }
  }
}

@include themable(skitsc-theme, $skitsc-theme);