* * * * * root /usr/local/bin/php -f /var/www/utils/fetch_recordings.php >> /var/www/logs/fetch_logs 2>&1
0 2 * * * root /usr/local/bin/php -f /var/www/utils/download_recordings.php >> /var/www/logs/download_logs 2>&1
# valid line
