{% set page = 'dashboard' %}

{% extends 'layout.twig' %}

{% block content %}
    <h1>Hi {{ username }} !</h1>
    <p> dashboard content here</p>
        <a href="/?p=presentation">See more</a>
{% endblock %}