{# comment test #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

{% include 'head.twig' %}

{% set theme = 'theme-skitsc-theme' %}

<!-- body -->
<body class="{{ theme }}">

    {% include 'menu.twig' %}

    <div class="app-container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>